.lupa {
    width: 30px;
    mix-blend-mode: multiply;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #F3E9D7;
}

.text-logo {
    color: black;
}

.logo-top {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
}

.logo-top img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.acciones {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.lupa {
    width: 40px;
    align-items: center;
    gap: 15px;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #9db1a5;
    /* color cafecito */
    color: black;
    /* color del texto */
    text-decoration: none;
    /* quita la línea */
    border-radius: 25px;
    /* bordes redondeados */
    font-weight: bold;
    transition: 0.3s;
}



/* Contenedor del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Contenido oculto */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B39977;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Links dentro del dropdown */
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

/* Mostrar cuando pasas el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background: #9e876a;
    background-repeat: no-repeat;
    color: white;
    background-size: 100% 220%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inder;
}

.cuadros {
    background-color: #684736;
    border: 1px #B39977;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin: 15px auto;
    width: 40%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagenes img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;
    object-fit: cover;
}

#contenido {
    width: 95%;
    margin: 0 auto;
}